In [108]:
import numpy as np
import pandas as pd
import keras
from numpy.random import seed
seed(1)
import tensorflow as tf
tf.random.set_seed(2)
from tensorflow.keras import backend as K
from tensorflow.keras.callbacks import Callback
from tensorflow.keras import models, layers, Input, regularizers, losses, metrics, optimizers
from tensorflow.keras.models import Sequential, Model, load_model
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt

In [109]:
data = pd.read_csv("data.csv")

In [110]:
data.head()

,Unnamed: 0,region,price,year,manufacturer,model,condition,odometer,transmission,trans_type,make_type,model_int,con_int,region_income
0,0,duluth / superior,6995,2000.0,gmc,new sierra 1500,excellent,167783.0,automatic,1,1,1,4,60316
1,1,duluth / superior,8750,2013.0,hyundai,sonata,excellent,90821.0,automatic,1,2,2,4,60316
2,2,new haven,10900,2013.0,toyota,prius,good,92800.0,automatic,1,3,3,3,37508
3,3,albuquerque,12500,2003.0,mitsubishi,lancer,good,NaN,manual,0,4,4,3,47413
4,4,duluth / superior,16995,2007.0,gmc,sierra classic 2500hd,good,254217.0,automatic,1,1,5,3,60316

In [111]:
data.columns

Index(['Unnamed: 0', 'region', 'price', 'year', 'manufacturer', 'model',
       'condition', 'odometer', 'transmission', 'trans_type', 'make_type',
       'model_int', 'con_int', 'region_income'],
      dtype='object')

In [112]:
x[1]

array([ 0.35542241, -0.08938646,  0.24307711, -1.13454338,  1.24758711,
        0.32203669])

In [113]:
data = data.drop(columns=['Unnamed: 0', 'region', 'manufacturer', 'model', 'condition', 'transmission', 'model_int'])

In [114]:
miles_avg = np.mean(data["odometer"])

In [115]:
#replacing missing mileage values w average 
data['odometer'] = data['odometer'].fillna(miles_avg)

In [116]:
year_avg = np.mean(data["year"])

In [117]:
year_avg

2009.827357540693

In [118]:
#avg year is closest to 2010 so replacing nan values with that 
data['year'] = data['year'].fillna(year_avg)

In [119]:
y = data['price']
x = data.drop(columns=['price'])

In [120]:
x = x.to_numpy()
y = y.to_numpy()

In [121]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
x = scaler.fit_transform(x)

In [122]:
x_train, x_val, y_train, y_val = train_test_split(x, y, test_size=0.2, random_state=2, shuffle=True)

In [128]:
# x_train=x_train.to_numpy()
# x_val=x_val.to_numpy()
# y_train=y_train.to_numpy()
# y_val=y_val.to_numpy()

In [126]:
from keras import layers
model = keras.Sequential()
model.add(layers.Dense(32, activation="relu", input_shape=(6,)))
model.add(layers.Dense(16, activation="relu"))
model.add(layers.Dense(1))
model.compile(loss='mean_squared_logarithmic_error', optimizer='adam', metrics=['accuracy'])

In [127]:
model.fit(x_train, y_train, validation_data=(x_val, y_val), batch_size=128, epochs=10)

Train on 339085 samples, validate on 84772 samples
Epoch 1/10
339085/339085 [==============================] - 2s 7us/step - loss: 20.8955 - accuracy: 0.0011 - val_loss: 10.1620 - val_accuracy: 1.1796e-05
Epoch 2/10
339085/339085 [==============================] - 2s 6us/step - loss: 8.5864 - accuracy: 1.7695e-05 - val_loss: 7.7808 - val_accuracy: 4.7185e-05
Epoch 3/10
339085/339085 [==============================] - 2s 6us/step - loss: 7.6630 - accuracy: 6.7830e-05 - val_loss: 7.6052 - val_accuracy: 1.1796e-05
Epoch 4/10
339085/339085 [==============================] - 2s 6us/step - loss: 7.6155 - accuracy: 8.2575e-05 - val_loss: 7.5995 - val_accuracy: 5.8982e-05
Epoch 5/10
339085/339085 [==============================] - 2s 7us/step - loss: 7.6116 - accuracy: 8.2575e-05 - val_loss: 7.5960 - val_accuracy: 4.7185e-05
Epoch 6/10
339085/339085 [==============================] - 2s 6us/step - loss: 7.6084 - accuracy: 7.3728e-05 - val_loss: 7.5932 - val_accuracy: 4.7185e-05
Epoch 7/10
339085/339085 [==============================] - 2s 6us/step - loss: 7.6055 - accuracy: 7.0779e-05 - val_loss: 7.5898 - val_accuracy: 9.4371e-05
Epoch 8/10
339085/339085 [==============================] - 2s 7us/step - loss: 7.6028 - accuracy: 5.0135e-05 - val_loss: 7.5868 - val_accuracy: 2.3593e-05
Epoch 9/10
339085/339085 [==============================] - 2s 6us/step - loss: 7.6001 - accuracy: 7.0779e-05 - val_loss: 7.5839 - val_accuracy: 7.0778e-05
Epoch 10/10
339085/339085 [==============================] - 2s 7us/step - loss: 7.5973 - accuracy: 7.6677e-05 - val_loss: 7.5807 - val_accuracy: 5.8982e-05

In [81]:
y_pred = model.predict(x_val)

In [82]:
import sklearn
sklearn.metrics.mean_squared_error(y_val, y_pred)

92739769912725.61

In [88]:
y_pred[5][0]

7099.4053

In [103]:
y_val.shape

(84772,)

In [102]:
np.reshape(y_val, (84772))

array([    0, 17990, 15995, ...,  5998,  8000,  1500])

In [104]:
y_val[5]

14995

In [105]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor(random_state=1)
model.fit(x_train, y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=1, verbose=0, warm_start=False)

In [106]:
pred = model.predict(x_val)
from sklearn.metrics import mean_absolute_error as mae
print(mae(y_val, pred))
print(model.score(x_val, y_val))

98445.24931895427
-0.2602454166172943