In [1]:
import numpy as np
import pandas as pd

In [22]:
data = pd.read_csv("vehicles.csv")

In [23]:
data.head()

,id,url,region,region_url,price,year,manufacturer,model,condition,cylinders,...,drive,size,type,paint_color,image_url,description,county,state,lat,long
0,7184791621,https://duluth.craigslist.org/ctd/d/duluth-200...,duluth / superior,https://duluth.craigslist.org,6995,2000.0,gmc,new sierra 1500,excellent,8 cylinders,...,4wd,NaN,NaN,red,https://images.craigslist.org/00n0n_f06ykBMcdh...,2000 *** GMC New Sierra 1500 Ext Cab 157.5 WB...,NaN,mn,46.8433,-92.2550
1,7184773187,https://duluth.craigslist.org/cto/d/saginaw-20...,duluth / superior,https://duluth.craigslist.org,8750,2013.0,hyundai,sonata,excellent,4 cylinders,...,fwd,NaN,NaN,grey,https://images.craigslist.org/00d0d_kgZ6xoeRw2...,For Sale: 2013 Hyundai Sonata GLS - $8750. O...,NaN,mn,46.9074,-92.4638
2,7193375964,https://newhaven.craigslist.org/cto/d/stratfor...,new haven,https://newhaven.craigslist.org,10900,2013.0,toyota,prius,good,4 cylinders,...,fwd,NaN,NaN,blue,https://images.craigslist.org/00d0d_3sHGxPbY2O...,2013 Prius V Model Two. One owner—must sell my...,NaN,ct,41.1770,-73.1336
3,7195108810,https://albuquerque.craigslist.org/cto/d/albuq...,albuquerque,https://albuquerque.craigslist.org,12500,2003.0,mitsubishi,lancer,good,4 cylinders,...,4wd,mid-size,sedan,grey,https://images.craigslist.org/00m0m_4a8Pb6JbMG...,"2003 Mitsubishi Lancer Evolution, silver. Abo...",NaN,nm,35.1868,-106.6650
4,7184712241,https://duluth.craigslist.org/ctd/d/rush-city-...,duluth / superior,https://duluth.craigslist.org,16995,2007.0,gmc,sierra classic 2500hd,good,8 cylinders,...,4wd,full-size,truck,white,https://images.craigslist.org/01414_g093aPtSMW...,"**Bad Credit, No Credit... No Problem!**2007 G...",NaN,mn,45.6836,-92.9648

In [24]:
data = data.drop(columns=["id", "cylinders", "url", "region_url", "fuel", "image_url",'description','county', 'state', 'lat', 'long', 'paint_color', 'size', 'drive', 'type', "vin", "title_status"])

In [25]:
data.columns

Index(['region', 'price', 'year', 'manufacturer', 'model', 'condition',
       'odometer', 'transmission'],
      dtype='object')

In [28]:
d = []
for guy in data['transmission']:
    d.append(guy)
lad = set(d)
print(lad)
print(len(lad))

{nan, 'other', 'manual', 'automatic'}
4

In [30]:
d = {}
for guy in data['transmission']:
    if guy not in d.keys():
        d[guy] =  0
    d[guy] += 1

In [31]:
d

{'automatic': 292619, 'manual': 23647, 'other': 11799, nan: 95792}

In [27]:
len(data.columns)

8

In [ ]:
# to do:

# encodes transmissions to integers 0 and 1. other and nan should be changed to automatic
# if we cant to, replace 'region' name with median income of each region
# encode makes and models as ints, same w condition