In [218]:
import numpy as np
import pandas as pd

In [219]:
data = pd.read_csv("vehicles.csv")

In [220]:
data.head()

,id,url,region,region_url,price,year,manufacturer,model,condition,cylinders,...,drive,size,type,paint_color,image_url,description,county,state,lat,long
0,7184791621,https://duluth.craigslist.org/ctd/d/duluth-200...,duluth / superior,https://duluth.craigslist.org,6995,2000.0,gmc,new sierra 1500,excellent,8 cylinders,...,4wd,NaN,NaN,red,https://images.craigslist.org/00n0n_f06ykBMcdh...,2000 *** GMC New Sierra 1500 Ext Cab 157.5 WB...,NaN,mn,46.8433,-92.2550
1,7184773187,https://duluth.craigslist.org/cto/d/saginaw-20...,duluth / superior,https://duluth.craigslist.org,8750,2013.0,hyundai,sonata,excellent,4 cylinders,...,fwd,NaN,NaN,grey,https://images.craigslist.org/00d0d_kgZ6xoeRw2...,For Sale: 2013 Hyundai Sonata GLS - $8750. O...,NaN,mn,46.9074,-92.4638
2,7193375964,https://newhaven.craigslist.org/cto/d/stratfor...,new haven,https://newhaven.craigslist.org,10900,2013.0,toyota,prius,good,4 cylinders,...,fwd,NaN,NaN,blue,https://images.craigslist.org/00d0d_3sHGxPbY2O...,2013 Prius V Model Two. One owner—must sell my...,NaN,ct,41.1770,-73.1336
3,7195108810,https://albuquerque.craigslist.org/cto/d/albuq...,albuquerque,https://albuquerque.craigslist.org,12500,2003.0,mitsubishi,lancer,good,4 cylinders,...,4wd,mid-size,sedan,grey,https://images.craigslist.org/00m0m_4a8Pb6JbMG...,"2003 Mitsubishi Lancer Evolution, silver. Abo...",NaN,nm,35.1868,-106.6650
4,7184712241,https://duluth.craigslist.org/ctd/d/rush-city-...,duluth / superior,https://duluth.craigslist.org,16995,2007.0,gmc,sierra classic 2500hd,good,8 cylinders,...,4wd,full-size,truck,white,https://images.craigslist.org/01414_g093aPtSMW...,"**Bad Credit, No Credit... No Problem!**2007 G...",NaN,mn,45.6836,-92.9648

In [221]:
data = data.drop(columns=["id", "cylinders", "url", "region_url", "fuel", "image_url",'description','county', 'state', 'lat', 'long', 'paint_color', 'size', 'drive', 'type', "vin", "title_status"])

In [222]:
data.columns

Index(['region', 'price', 'year', 'manufacturer', 'model', 'condition',
       'odometer', 'transmission'],
      dtype='object')

In [223]:
d = []
for guy in data['transmission']:
    d.append(guy)
lad = set(d)
print(lad)
print(len(lad))

{'other', nan, 'automatic', 'manual'}
4

In [224]:
d = {}
for guy in data['transmission']:
    if guy not in d.keys():
        d[guy] =  0
    d[guy] += 1

In [225]:
d

{'automatic': 292619, 'manual': 23647, 'other': 11799, nan: 95792}

In [226]:
len(data.columns)

8

In [227]:
# to do:

# encode transmissions to integers 0 and 1. other and nan should be changed to automatic
# if we cant to, replace 'region' name with median income of each region
# encode makes and models as ints, same w condition

In [228]:
#this function will determine if transmission is manual or not. If transmission is manual, assign 0. Else it gets 1.
def trans_type(row):
    if row['transmission']=='manual':
        return 0
    else:
        return 1

In [229]:
data.apply (lambda row: trans_type(row), axis=1)

0         1
1         1
2         1
3         0
4         1
         ..
423852    1
423853    1
423854    0
423855    1
423856    1
Length: 423857, dtype: int64

In [230]:
#Add column to data for trans_type. Value is 0 if transmission is manual, 1 for automatic
data['trans_type'] = data.apply (lambda row: trans_type(row), axis=1)

In [231]:
len(data.columns)

9

In [232]:
#Converting manufacturer (make) to integer
makeDic={}
x=1
for make in data['manufacturer']:
    if make not in makeDic:
        makeDic[make]=x
        x+=1

In [233]:
print(makeDic)

{'gmc': 1, 'hyundai': 2, 'toyota': 3, 'mitsubishi': 4, 'ford': 5, 'chevrolet': 6, 'ram': 7, nan: 8, 'buick': 9, 'jeep': 10, 'dodge': 11, 'subaru': 12, 'nissan': 13, 'audi': 14, 'rover': 15, 'lexus': 16, 'honda': 17, 'chrysler': 18, 'mini': 19, 'pontiac': 20, 'mercedes-benz': 21, 'cadillac': 22, 'bmw': 23, 'kia': 24, 'volvo': 25, 'volkswagen': 26, 'jaguar': 27, 'acura': 28, 'saturn': 29, 'mazda': 30, 'mercury': 31, 'lincoln': 32, 'infiniti': 33, 'ferrari': 34, 'fiat': 35, 'tesla': 36, 'land rover': 37, 'harley-davidson': 38, 'datsun': 39, 'alfa-romeo': 40, 'morgan': 41, 'aston-martin': 42, 'porche': 43, 'hennessey': 44}

In [234]:
#This function will look at the manufacturer and find the corresponding int. 
def make_type(row, makeDic):
    make=row['manufacturer']
    intAssign=makeDic[make]
    return intAssign

In [235]:
#Add column that will store the manufacturer of a car represented as an int. If you want to know what make the int value
# corresponds to, simply find the corresponding key in makeDic
data['make_type'] = data.apply (lambda row: make_type(row, makeDic), axis=1)

In [236]:
len(data.columns)

10

In [237]:
data.head()

,region,price,year,manufacturer,model,condition,odometer,transmission,trans_type,make_type
0,duluth / superior,6995,2000.0,gmc,new sierra 1500,excellent,167783.0,automatic,1,1
1,duluth / superior,8750,2013.0,hyundai,sonata,excellent,90821.0,automatic,1,2
2,new haven,10900,2013.0,toyota,prius,good,92800.0,automatic,1,3
3,albuquerque,12500,2003.0,mitsubishi,lancer,good,NaN,manual,0,4
4,duluth / superior,16995,2007.0,gmc,sierra classic 2500hd,good,254217.0,automatic,1,1

In [238]:
#Converting model to integer
modelDic={}
x=1
for model in data['model']:
    if model not in modelDic:
        modelDic[model]=x
        x+=1

In [239]:
#This function will look at the model and find the corresponding int. Assign 0 for model in nan.
def model_type(row, modelDic):
    model=row['model']
    if model in modelDic:
        intAssign=modelDic[model]
        return intAssign
    else:
        return 0

In [240]:
#Add column that will store the model of a car represented as an int. If you want to know what make the int value
# corresponds to, simply find the corresponding key in makeDic
data['model_int'] = data.apply (lambda row: model_type(row, modelDic), axis=1)

In [242]:
#Find types of conditions
conDic={}
x=1
for con in data['condition']:
    if con not in conDic:
        conDic[con]=x
        x+=1

In [243]:
print(conDic)

{'excellent': 1, 'good': 2, 'fair': 3, nan: 4, 'like new': 5, 'salvage': 6, 'new': 7}

In [244]:
#Given the condition types, use 1-6 int value to represent condition: 7 is the best (new) and 1 is the worst (salvage). 
# If nan, give it a 2 for fair (hence why the total is 6 now and not 7)
conditions={}
conditions['new']=6
conditions['like new']=5
conditions['excellent']=4
conditions['good']=3
conditions['fair']=2
#will assign nan to 2 in later step
conditions['salvage']=1

In [245]:
print(conditions)

{'new': 6, 'like new': 5, 'excellent': 4, 'good': 3, 'fair': 2, 'salvage': 1}

In [246]:
#This function will look at the condition and find the corresponding int. 
def con_int(row, conditions):
    con=row['condition']
    if con in conditions:
        intAssign=conditions[con]
        return intAssign
    else:
        return 2

In [247]:
data.apply (lambda row: con_int(row, conditions), axis=1)

0         4
1         4
2         3
3         3
4         3
         ..
423852    2
423853    4
423854    2
423855    4
423856    2
Length: 423857, dtype: int64

In [248]:
#Add column to represent condition as an integer
data['con_int'] = data.apply (lambda row: con_int(row, conditions), axis=1)

In [249]:
data.head(200)

,region,price,year,manufacturer,model,condition,odometer,transmission,trans_type,make_type,model_int,con_int
0,duluth / superior,6995,2000.0,gmc,new sierra 1500,excellent,167783.0,automatic,1,1,1,4
1,duluth / superior,8750,2013.0,hyundai,sonata,excellent,90821.0,automatic,1,2,2,4
2,new haven,10900,2013.0,toyota,prius,good,92800.0,automatic,1,3,3,3
3,albuquerque,12500,2003.0,mitsubishi,lancer,good,NaN,manual,0,4,4,3
4,duluth / superior,16995,2007.0,gmc,sierra classic 2500hd,good,254217.0,automatic,1,1,5,3
...,...,...,...,...,...,...,...,...,...,...,...,...
195,"washington, DC",6900,2011.0,chevrolet,express 2500,NaN,NaN,automatic,1,6,157,2
196,albuquerque,13995,2016.0,ford,fusion,good,74408.0,automatic,1,5,158,3
197,fargo / moorhead,7000,2014.0,ford,focus,NaN,104033.0,automatic,1,5,159,2
198,fargo / moorhead,18500,2016.0,chevrolet,equinox,NaN,50776.0,automatic,1,6,7,2
199,fargo / moorhead,18333,2013.0,chevrolet,express passenger,good,119598.0,automatic,1,6,160,3

In [177]:
#DO NOT RUN 

#DO NOT RUN 

#DO NOT RUN 

regions=[]
for reg in data['region']:
    if reg not in regions:
        regions.append(reg)

In [80]:
#DO NOT RUN 

#DO NOT RUN 

#DO NOT RUN 

out = open('regions.csv', 'w')
for reg in regions:
    out.write('%s' % reg)
    out.write('\n')
out.close()

In [145]:
#DO NOT RUN 

#DO NOT RUN 

#DO NOT RUN 

incomes=[]
from lxml import html
import requests
x=0
for reg in regions:
    error=False
    income="LOOK UP YOURSELF"
    if x%25==0:
        print(x)
    headers = {'Content-Type': 'text/html',}
    page=requests.get('https://www.google.com/search?q='+ reg +'+median+household+income&rlz=1C1EJFA_enUS760US760&oq=lub&aqs=chrome.0.35i39j69i57j0i67i433j46i20i263i433j0i67l2j0i67i433j0i20i131i263i433.1015j0j7&sourceid=chrome&ie=UTF-8', headers=headers)
    html = page.text
    l1=html.split("FCUp0c rQMQod")
    try:
        l2=l1[1].split("$")
    except:
        error=True
    try:
        l3=l2[1].split("<")
    except:
        error=True
    if error==False:
        income=l3[0]
    incomes.append(income)
    x+=1
print(len(incomes))

0
25
50
75
100
125
150
175
200
225
250
275
300
325
350
375
400
404

In [176]:
#DO NOT RUN 

#DO NOT RUN 

#DO NOT RUN 

incomesTest=incomes

In [175]:
#DO NOT RUN 

#DO NOT RUN 

#DO NOT RUN 

for i in range(len(incomesTest)):
    inc=incomes[i]
    incList=inc.split(" ")
    actInc=incList[0]
    if actInc.find(',')!=-1:
        actInc=actInc.replace(',','')
    incomesTest[i]=actInc
count=0
for val in incomesTest:
    if val=='LOOK':
        count+=1
print(count)

21

In [173]:
#DO NOT RUN 

#DO NOT RUN 

#DO NOT RUN 

out = open('incomes.csv', 'w')
for inc in incomesTest:
    out.write('%s' % inc)
    out.write('\n')
out.close()

In [201]:
# PULL IN THIS CSV FILE FROM GITHUB

incomeData = pd.read_csv("regionsAndIncome.csv")

In [202]:
incomeData.head()

              Region   Income  Unnamed: 2  Unnamed: 3
0  duluth / superior  60316.0         NaN         NaN
1          new haven  37508.0         NaN         NaN
2        albuquerque  47413.0         NaN         NaN
3            lubbock  48042.0         NaN         NaN
4   fargo / moorhead  62820.0         NaN         NaN

In [208]:
incomeList=[]
for row in incomeData['Income']:
    incomeList.append(int(row))
regIncDic={}
for i in range(len(regions)):
    regIncDic[regions[i]]=incomeList[i]

In [215]:
#This function will look at the region and find the corresponding median income. 
def region_inc(row, regIncDic):
    region=row['region']
    inc=regIncDic[region]
    return inc

In [250]:
data.head()

,region,price,year,manufacturer,model,condition,odometer,transmission,trans_type,make_type,model_int,con_int
0,duluth / superior,6995,2000.0,gmc,new sierra 1500,excellent,167783.0,automatic,1,1,1,4
1,duluth / superior,8750,2013.0,hyundai,sonata,excellent,90821.0,automatic,1,2,2,4
2,new haven,10900,2013.0,toyota,prius,good,92800.0,automatic,1,3,3,3
3,albuquerque,12500,2003.0,mitsubishi,lancer,good,NaN,manual,0,4,4,3
4,duluth / superior,16995,2007.0,gmc,sierra classic 2500hd,good,254217.0,automatic,1,1,5,3

In [251]:
data.apply (lambda row: region_inc(row, regIncDic), axis=1)

0         60316
1         60316
2         37508
3         47413
4         60316
          ...
423852    60316
423853    60316
423854    60316
423855    60316
423856    47413
Length: 423857, dtype: int64

In [252]:
#Add region income column to data
data['region_income'] = data.apply (lambda row: region_inc(row, regIncDic), axis=1)

In [253]:
data.head()

,region,price,year,manufacturer,model,condition,odometer,transmission,trans_type,make_type,model_int,con_int,region_income
0,duluth / superior,6995,2000.0,gmc,new sierra 1500,excellent,167783.0,automatic,1,1,1,4,60316
1,duluth / superior,8750,2013.0,hyundai,sonata,excellent,90821.0,automatic,1,2,2,4,60316
2,new haven,10900,2013.0,toyota,prius,good,92800.0,automatic,1,3,3,3,37508
3,albuquerque,12500,2003.0,mitsubishi,lancer,good,NaN,manual,0,4,4,3,47413
4,duluth / superior,16995,2007.0,gmc,sierra classic 2500hd,good,254217.0,automatic,1,1,5,3,60316

dataFrame now has 5 extra columns representing data in int form as well as region income.